*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
/*Nav*/
nav{
    background-color: #f6f4eb;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
nav a{
    padding: 10px;
    color: #227f83;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition-property: text;
    font-size: 1rem;
}
nav a:hover{
    border-bottom: 4px solid #227f83;
    color: black;
}

/*Our Services*/
.card-body h5{
    color: #227f83;
}

/*Our Capabilities*/
.card{
    transform: translateY(10px);
    transition: 0.1s all
}
.card:hover{
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    transform: translateY(0px);
}

/*footer*/
.fa {
    padding: 20px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    }
.fa-facebook {
    color: #3B5998;
    border: 0.15rem solid #3B5998;
    }
.fa-twitter {
    color: #55ACEE;
    border: 0.15rem solid #55ACEE;
    }
.fa-linkedin {
    color: #007bb5;
    border: 0.15rem solid #007bb5;
      }
.fa-instagram {
    color: 125688;
    border: 0.15rem solid #125688;
    }      
.fa:hover {
        color: gray;
        border: 0.15rem solid gray;
    }
.footer-icon{
    display:inline-block;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
